{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container">
  <div class="intro intro-small">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="content">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dui tellus. Aliquam erat volutpat. Fusce pulvinar rutrum lacus pellentesque molestie. Nunc euismod dolor eleifend mauris dictum condimentum. Donec cursus aliquet lorem, at ultricies dolor mattis posuere. Aenean sagittis vel mauris a ultrices. Pellentesque viverra venenatis mauris, a ultricies massa aliquet id. Fusce a lacus luctus, egestas magna auctor, rhoncus sem.</p>
        <h4>Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dui tellus. Aliquam erat volutpat. Fusce pulvinar rutrum lacus pellentesque molestie.</p>
        <h5>Lorem Ipsum</h5>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Cras eu dui tellus.</li>
          <li>Aliquam erat volutpat.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}