{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container">
  <div class="intro intro-small">
    <div class="container">
      <div class="row">
          <h1>{{ .Title }}</h1>
          <h4>{{ .Description }}</h4>
      </div>
      <hr class="mt-4"/>
    </div>
  </div>
  <div class="row mb-4">
    {{.Content}}
  </div>
</div>
{{ end }}