.button {
  white-space: nowrap;
  display: inline-block;
  padding: 7px 15px;
  background: $primary;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    text-decoration: none;
  }
}
.button-white {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}
