.expand {
  margin-bottom: 0.8em;
}

.expand-label {
  display: flex;
  background-color: rgb(242, 242, 242);
  font-size: 1.2em;
  font-weight: 600;
}

.expand-square {
  align-self: center;
  background-color: #1c3ed3;
  height: 1.7em;
  width: 1.7em;
  margin-right: 0.5em;
}

.expand-content {
  font-size: 0.9em;
  margin-top: 0.3em;
  margin-left: 2.2em;
  padding: 0.2em 1.1em;
  background-color: rgb(242, 242, 242);
}

.inline-svg {
  color: white;
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  top: 0.3rem;
  left: 0.55rem;
  position: relative;
}