{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
        <h4>{{ .Description }}</h4>
      </div>
    </div>
    <hr class="mt-4 mb-0"/>
  </div>
</div>
<div class="container">
  <div class="timeline mx-lg-6 mb-3">
    <div class="timeline__wrap">
      <div class="timeline__items">
        <div class="timeline__item">
          <div class="timeline__content text-right">
              <h6 class="font-weight-bold">
                1990 - Hausmeister
              </h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dui tellus. Aliquam erat volutpat.
              </p>
          </div>
        </div>
        <div class="timeline__item timeline__item--right">
          <div class="timeline__content">
            <h6 class="font-weight-bold">
              1996 - Bürgermeister
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dui tellus. Aliquam erat volutpat.
            </p>
          </div>
        </div>
        <div class="timeline__item">
          <div class="timeline__content text-right">
              <h6 class="font-weight-bold">
                2006 - Fensterreiniger
              </h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
          </div>
        </div>
        <div class="timeline__item timeline__item--right">
          <div class="timeline__content">
            <h6 class="font-weight-bold">
              2008 - Diplomat
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dui tellus. Aliquam erat volutpat.
            </p>
          </div>
        </div>
        <div class="timeline__item">
          <div class="timeline__content text-right">
              <h6 class="font-weight-bold">
                2014 - Wirtschaftsmediator
              </h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}